.portfolioContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	.footballApp {
		width: 100%;
		min-height: 30vh;
		margin: 5em 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.appText {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.ctaButton {
			font-family: 'Quicksand', sans-serif;
			font-size: 1.6rem;
			font-weight: 600;
			margin: 1em 0;
			padding: 0.5em 2em;
			border: none;
			border-radius: 2em;
			background-color: #d4fd00;
			transition: transform 0.3s;
			cursor: pointer;
		}
		.ctaButton:hover,
		.ctaButton:focus {
			outline: none;
			transform: scale(1.1);
		}
		.technologies {
			margin: 2em 1em 0.5em 1em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.firstText {
				font-weight: bold;
				font-size: 1.6rem;
				margin-bottom: 1em;
			}
			.logos {
				display: flex;
				justify-content: center;
				padding: 0 0.5em;
				img {
					height: 2.5em;
					width: 2.9em;
					margin: 0 0.5em;
				}
				img:last-child {
					margin-right: 0em;
				}
			}
		}
		.appDescription {
			width: 100%;
			padding: 0 2em;
			margin-top: 0em;
			font-size: 1.6rem;
			font-weight: 500;
			text-align: center;
		}
		.appDescription:last-of-type {
			margin-top: 2em;
			text-align: center;
			font-size: 1.5rem;
			font-weight: 400;
			font-style: italic;
			color: #333;
		}
	}
}

@media (min-width: 768px) {
	.portfolioContainer {
		.footballApp {
			.appText {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.ctaButton {
				font-size: 1.7rem;
			}
			.technologies {
				.firstText {
					font-size: 1.7rem;
				}
				.logos {
					padding: 0 1em;
					img {
						height: 3em;
						width: 3.3em;
					}
				}
			}
			.appDescription {
				padding: 0 4em;
			}
			.appDescription:last-of-type {
				font-size: 1.6rem;
			}
		}
	}
}
@media (min-width: 910px) {
	.portfolioContainer {
		.footballApp {
			.ctaButton {
				font-size: 1.7rem;
			}
			.appDescription {
				font-size: 1.7rem;
				padding: 0 8em;
			}
		}
	}
}
@media (min-width: 1020px) and (orientation: landscape) {
	.portfolioContainer {
		.footballApp {
			.appText {
				flex-direction: row;
			}
			.ctaButton {
				font-size: 1.6rem;
			}
			.technologies {
				.firstText {
					font-size: 2rem;
				}
				.logos {
					img {
						height: 4em;
						width: 4.5em;
						margin: 0 1em;
					}
				}
			}
			.appDescription {
				width: 70%;
				font-size: 2rem;
				padding: 0 2em;
			}
			.appDescription:last-of-type {
				font-size: 1.6rem;
			}
		}
	}
}
@media (min-width: 1800px) and (orientation: landscape) {
	.portfolioContainer {
		.footballApp {
			margin: 10em 0;
			.appText {
				flex-direction: row;
			}
			.ctaButton {
				font-size: 1.6rem;
			}
			.technologies {
				.firstText {
					font-size: 1.7rem;
				}
				.logos {
					img {
						height: 3em;
						width: 3.2em;
					}
				}
			}
			.appDescription {
				width: 70%;
				font-size: 1.7rem;
				padding: 0 4em;
			}
		}
	}
}
@media (min-width: 2500px) and (orientation: landscape) {
	.portfolioContainer {
		.footballApp {
			margin: 10em 0;
			.appText {
				flex-direction: row;
			}
			.ctaButton {
				font-size: 2rem;
			}
			.technologies {
				.firstText {
					font-size: 2rem;
				}
				.logos {
					img {
						height: 4em;
						width: 4.2em;
					}
				}
			}
			.appDescription {
				width: 70%;
				font-size: 2rem;
				padding: 0 4em;
			}
			.appDescription:last-of-type {
				font-size: 1.9rem;
			}
		}
	}
}
